.formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.formulario [type="text"], .formulario select{
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid rgb(230,230,230);
    outline: none;
    font-size: 16px;
    color: rgb(150,150,150);
}
.input-largo{
    width: 60vw;
}
.input-corto{
    width: 10vw;
}
.formulario select{
    background-color: white;
    color: rgb(100,100,100);
    width: 215px;
}
.formulario [type="text"]:focus, .formulario select:focus{
    box-shadow: 0 0 5px rgba(30, 143, 255, 0.8);
}
.formulario form .puntos{
    text-decoration: none;
    font-size: 16px;
    padding: 5px 0;
    color: white;
    font-weight: bold;
    border: 3px solid rgb(230,230,230);
    background-color: rgb(97, 206, 97);
    border-radius: 5px;
}
.formulario form .puntos i{
    height: 30px;
    width: 30px;
    text-align: center;
}
.formulario form .puntos:hover{
    background-color: green;
    cursor: pointer;
}
.formulario form .puntos:focus{
    outline: none;
}
.formulario label{
    color: rgb(150,150,150);
    text-align: center;
    display: block;
    font-weight: bold;
    margin-top: 5px;
}
.formulario div.submit{
    margin-top: 30px;
    width: 90%;
    display: flex;
    justify-content: center;
}
.formulario [type="submit"]{
    width: 50%;
    height: 40px;
    background: rgb(97, 206, 97);
    border: 3px solid rgb(230,230,230);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.formulario [type="submit"]:hover{
    background-color: green;
    cursor: pointer;
}
.formulario form span{
    color: rgb(97, 206, 97);
}
.formulario form p{
    margin-top: 30px;
    color: rgb(97, 206, 97);
}