*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-main);
    outline: none;
}

/* --------------------------------------------------------------------- NAVBAR */
nav{
    /*position: sticky;*/
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    padding: 8px;
    background-color: white;
    border-bottom: 1px solid rgba(150, 150, 150, 0.295);
}
nav .usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}
nav .usuario p{
    font-weight: bold;
}
nav .usuario span{
    color: rgb(150,150,150);
    margin-top: 5px;
    font-size: 14px;
}
.usuario div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin-left: 5px;
}
nav .usuario .cs{
    display: none;
}
nav div{
    display: flex;
}
nav img{
    height: 50px;
    width: auto;
}
nav .burger{
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 2;
    font-size: 35px;
    cursor: pointer;
    color: rgb(97, 206, 97);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    /* box-shadow: 3px 3px 5px -3px black; */
}
nav .burger .fa-times{
    display: none;
}
nav .desk{
    display: none;
}
nav .mob{
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    transition: all .3s ease;
}
nav .mob a{
    padding: 10px;
    margin: 5px 0;
    background-color: rgb(97, 206, 97);
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
nav .mob a:hover{
    background: green;
}
nav .mob a.close{
    background-color: rgb(240, 89, 89);
}
nav .mob a.close:hover{
    background-color: red;
}

/* ------------------------------------------------------------------------------- MAIN */
header{
    text-align: center;
    width: 80%;
    margin: auto;
}
main{
    background: white;
}
main h1{
    color: rgb(100,100,100);
    text-align: center;
}
main .fondo{
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;

}
article{
    background-size: cover;
    background-position: center;
    width: 70vw;
    height: 70vw;
    margin: 10px;
    overflow: hidden;
    border-radius: 20px;

    transition: transform .5s ease;
}
article div{
    background: rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    padding: 10px 15px;
    /* text-shadow: 0 0 10px black; */

    transition: opacity .5s ease;
}
article h3{
    font-weight: bold;
}
article p{
    margin-top: 10px;
    text-align: justify;
}

.regresar{
    display: block;
    display: none;
    position: sticky;
    top: 10px;
    /* top: calc(100vh - 50px); */
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
    /* margin-bottom: 20px; */
    text-align: center;
    padding: 5px;
    background-color: rgb(97, 206, 97);
    width: 100px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 3px 3px 5px -3px black;
}
.regresar:hover{
    background: green;
}

/* -------------------------------------------------------------------------------- FOOTER */
footer{
    background-color: green;
    padding: 10px;
}
footer p{
    text-align: center;
    color: white;
    margin: 5px 0;
    font-size: 10px;
}
footer span{
    font-weight: bold;
    text-decoration: underline;
}
#flaticon, #flaticon *{
    margin-top: 10px;
    font-size: 10px;
    color: rgb(97, 206, 97);
}

.hide{
    display: none;
}


@media only screen and (max-height: 400px){    
    article{
        width: 40vw;
        height: 40vw;
    }
}
@media only screen and (min-width: 600px){
    article{
        width: 30vw;
        height: 30vw;
    }
    footer p{
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px){
    .burger, nav .mob{
        display: none;
    }
    nav{
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    nav a{
        text-decoration: none;
        font-weight: bold;
        color: rgb(150,150,150);

        transition: color .3s ease;
    }
    nav a:hover{
        color: green;
    }
    nav a.cs:hover{
        color: rgb(250, 118, 118);
    }
    nav .desk{
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
    nav .usuario{
        border-left: 2px solid rgb(230,230,230);
        padding: 0 20px;
    }
    nav .usuario .cs{
        display: inline;
    }
    nav .usuario span{
        margin: 0;
        margin-bottom: 5px;
    }

    article:hover{
        transform: scale(0.95);
    }
    article div{
        opacity: 0;
    }
    article:hover div{
        opacity: 1;
        cursor: pointer;
    }
    main .fondo{
        background-color: white;
        width: 90%;
        margin: auto;
    }
    .regresar{
        display: none;
    }
}
@media only screen and (min-width: 1000px){
    nav a{
        margin: 0 15px;
    }
    article{
        width: 20vw;
        height: 20vw;
    }
}