main .fondo{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}
.grupo-info{
    color: rgb(150,150,150);
    border: 3px solid rgb(230,230,230);
    border-radius: 10px;
    padding: 20px 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grupo-info h1{
    font-size: 18px;
    margin-bottom: 20px;
}
.grupo-info table th{
    text-align: right;
}
.grupo-info table th.icono{
    text-align: center;
    padding: 5px 10px;
    color: rgb(97, 206, 97);
}
.grupo-info table td{
    text-align: left;
}
.grupo-info p{
    text-align: center;
    margin-top: 20px;
}
.grupo-info p span{
    background-color: rgb(97, 206, 97);
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: block;
    width: 30%;
    margin: auto;
}
.grupo-info .prints{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.grupo-info .print{
    display: inline-block;
    padding: 5px;
    text-align: center;
    margin: auto;
    margin-bottom: 8px;
    border-radius: 5px;
    color: rgb(97, 206, 97);
    text-decoration: none;
}
.grupo-info .print:hover{
    /* background-color: rgb(97, 206, 97);
    color: white; */
    text-decoration: underline;
}

.mostrar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    margin-top: 20px;
    margin-bottom: 10px;
}
.mostrar label{
    color: rgb(97, 206, 97);
    text-align: center;
    margin: 5px;
}

.observaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 60px;
    color: rgb(100,100,100);
}
.observaciones>p{
    flex-basis: 100%;
    text-align: center;
}
.observaciones .textarea{
    flex-basis: 100%;
    /* height: 100px; */
    overflow-y: hidden;
    margin: 10px;
    resize: none;
    color: rgb(100,100,100);
    border: 0;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    box-shadow: 3px 3px 3px rgba(207, 205, 205, 0.24);
}
.observaciones .textarea:hover{
    /* overflow-y: scroll; */
}
.observaciones .textarea p{
    text-align: justify;
    font-style: italic;
}
.observaciones .textarea::before{
    content: '"';
    color: rgb(230,230,230);
    font-weight: bold;
    position: absolute;
    font-size: 40px;
    top: 0;
    left: 0;
}
.observaciones .textarea::after{
    content: '2019';
    position: absolute;
    right: 20px;
    bottom: 0;
    font-size: 12px;
}
.observaciones .textarea:nth-child(even){
    /* background-color: rgb(230,230,230); */
}
.cant_observaciones{
    color: rgb(97, 206, 97);
}
.cant_observaciones:hover{
    cursor: pointer;
    text-decoration: underline;
}
.hide{
    display: none;
}

@media only screen and (min-width: 450px){
    main .fondo{
        grid-template-columns: auto;
    }
    .tablas{
        grid-column: unset;
    }
}
@media only screen and (min-width: 600px){
    main .fondo{
        grid-template-columns: auto;
    }
    .observaciones .textarea{
        flex-basis: 45%;
    }
}
@media only screen and (min-width: 768px){
    .observaciones .textarea{
        flex-basis: 30%;
    }
}
@media only screen and (min-width: 1000px){
    main .fondo{
        grid-template-rows: unset;
    }
    .tablas{
        grid-column: unset;
        grid-row: unset;
    }
}