.formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.formulario form>div{
    margin-bottom: 20px;
}
.formulario h2{
    color: rgb(150,150,150);
    margin-bottom: 40px;
    text-align: center;
}
.formulario [type="text"], .formulario select, .formulario .observacion{
    height: 35px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid rgb(230,230,230);
    outline: none;
    font-size: 16px;
    color: rgb(100,100,100);
    width: 60vw;
    padding: 0 10px;
}
#gen_pwd{
    display: block;
    width: 100%;
    background-color: rgb(97, 206, 97);
    color: white;
    border: 2px solid rgb(230,230,230);
    padding: 8px 12px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: background-color .2s ease,
                color .2s ease,
                border .2s ease;
}
#gen_pwd:hover{
    color: rgb(97, 206, 97);
    background-color: white;
    border: 2px solid rgb(97, 206, 97);
}
.formulario .input-largo{
    width: 60vw;
}
.formulario .input-corto{
    width: 10vw;
}
.formulario select{
    background-color: white;
    color: rgb(100,100,100);
}
.formulario .observacion{
    height: 100px;
}
.formulario [type="text"]:focus, 
.formulario select:focus, 
.formulario .observacion:focus, 
.formulario select:focus{
    box-shadow: 0 0 5px rgba(30, 143, 255, 0.8);
}
.formulario form .puntos{
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    color: white;
    font-weight: bold;
    border: 3px solid rgb(230,230,230);
    background-color: rgb(97, 206, 97);
    border-radius: 5px;
}
.formulario form .puntos i{
    height: 30px;
    width: 30px;
    text-align: center;
}
.formulario form .puntos:hover{
    background-color: green;
    cursor: pointer;
}
.formulario form .puntos:focus{
    outline: none;
}
.formulario label{
    color: rgb(150,150,150);
    text-align: center;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
}
.formulario div.submit{
    margin-top: 30px;
    width: 90%;
    display: flex;
    justify-content: center;
}
.formulario [type="submit"]{
    width: 30vw;
    height: 40px;
    background: rgb(97, 206, 97);
    border: 3px solid rgb(230,230,230);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.formulario [type="submit"]:hover{
    background-color: green;
    cursor: pointer;
}
.formulario form span{
    color: rgb(97, 206, 97);
}
.formulario form p{
    margin: 20px 0;
    width: 100%;
    color: rgb(97, 206, 97);
    text-align: center;
}
@media only screen and (min-width: 600px){
    .table{
        grid-column: unset;
    }
}
@media only screen and (min-width: 768px){
    .formulario form{
        align-items: flex-start;
        flex-direction: column;
    }
    .formulario [type="text"], .formulario select, .formulario .observacion{
        width: 40vw;
        text-align: left;
    }
    .formulario .input-largo{
        width: 60vw;
    }
    .formulario .input-corto{
        width: 10vw;
    }
    .formulario label{
        text-align: left;
        margin-left: 20px;
        font-size: 20px;
    }
    .formulario select{
        width: 30vw;
    }
    .formulario div.submit{
        justify-content: flex-start;
    }
    #gen_pwd{
        display: inline-block;
        width: unset;
    }
    .table{
        grid-column: unset;
    }
}
@media only screen and (min-width: 1000px){
    .table{
        grid-column: unset;
    }
}