<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CacheFilter</filter-name>
        <filter-class>com.instructores.servlets.CacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>RequestBlockingFilter</filter-name>
        <filter-class>com.instructores.servlets.RequestBlockingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestBlockingFilter</filter-name>
        <url-pattern>/Carreras</url-pattern>
        <url-pattern>/Facultades</url-pattern>
        <url-pattern>/Grupos</url-pattern>
        <url-pattern>/Materias</url-pattern>
        <url-pattern>/Menus</url-pattern>
        <url-pattern>/Permisos</url-pattern>
        <url-pattern>/Plantillas_literal</url-pattern>
        <url-pattern>/Plantillas_test</url-pattern>
        <url-pattern>/Roles</url-pattern>
        <url-pattern>/Tests</url-pattern>
        <url-pattern>/Tipos</url-pattern>
        <url-pattern>/Usuarios</url-pattern>
        <url-pattern>/Valoraciones</url-pattern>
        <url-pattern>/Configuraciones</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.instructores.servlets.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/Test</url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.instructores.servlets.Login</servlet-class>
        <init-param>
            <param-name>accion</param-name>
            <param-value>test</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LoginEst</servlet-name>
        <servlet-class>com.instructores.servlets.Login</servlet-class>
        <init-param>
            <param-name>accion</param-name>
            <param-value>loginEst</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginEst</servlet-name>
        <url-pattern>/LoginEst</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Configuraciones</servlet-name>
        <servlet-class>com.instructores.servlets.Principal</servlet-class>
        <init-param>
            <param-name>accion</param-name>
            <param-value>configuraciones</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Configuraciones</servlet-name>
        <url-pattern>/Configuraciones</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Resultados</servlet-name>
        <servlet-class>com.instructores.servlets.Principal</servlet-class>
        <init-param>
            <param-name>accion</param-name>
            <param-value>resultados</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resultados</servlet-name>
        <url-pattern>/Resultados</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>com.instructores.servlets.Principal</servlet-class>
        <init-param>
            <param-name>accion</param-name>
            <param-value>perfil</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/Perfil</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.instructores.servlets.Principal</servlet-class>
        <init-param>
            <param-name>accion</param-name>
            <param-value>logout</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>Seed</servlet-name>
        <servlet-class>com.instructores.servlets.Seed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.instructores.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Principal</servlet-name>
        <servlet-class>com.instructores.servlets.Principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportes</servlet-name>
        <servlet-class>com.instructores.servlets.Reportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>com.instructores.servlets.Error</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Seed</servlet-name>
        <url-pattern>/Seed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Principal</servlet-name>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportes</servlet-name>
        <url-pattern>/Reportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/Error</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/Error</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>
            Login
        </welcome-file>
    </welcome-file-list>
</web-app>
