@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');
:root{
    --color-light: rgb(97, 206, 97);
    --color-darker-light: rgb(82, 185, 82);
    --color-light-light: rgb(239, 250, 239);
    --fc-light: rgb(50, 50, 50);
    --color-light-gray: rgb(200,200,200);
    --input-bgc: rgb(245,245,245);
    --tr-alter-clr: rgb(250,250,250);
    --color-white: white;
    --color-error: crimson;
    --color-error-light: indianred;

    --ff-main: "Poppins", sans-serif;
    --fz-main: 0.8em;
}