form{
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table, tr{
    border-collapse: collapse;
    background-color: rgb(255,255,255);
}
th{
    text-align: center;
}
th, td{
    padding: 5px;
    border: 2px dotted black;
}
p{
    margin: 5px 0;
}
.row:hover{
    background-color: #f4f4f4;
}
.cabecera{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecera img{
    height: 70px;
}