#table01 thead{
    background-color: green;
    color: white;
}
#table01 thead th{
    padding: 5px 0;
}
#table01{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
}
#table01 td, #table01 th{    
    border: 1px solid black;
}
#table01 td{
    padding: 5px;
}
#table01 tbody tr:hover{
    background-color: rgb(200, 200, 200);
}